/* Basic Mobile-First Styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    padding: 20px;
    text-align: center;
}

header h1 {
    color: #333;
}

/* Link Style */
.nav-links a {
  text-decoration: none;
  background-color: #007bff;
  border: 1px solid #0056b3;
  color: white;
  border-radius: 20px; /* pill-shaped button */
}

/* Change box color on hover */
.nav-links a:hover {
  background-color: white;
  color: black;
  border-color: #cccccc;
}


#load-images {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Tablet/Desktop adjustments */
@media (min-width: 768px) {
    body {
        max-width: 800px;
        margin: 0 auto;
    }
}
